.heading{
    width: 100%;
    margin: 0;
    font-size: 25px;
}
.heading button{
    float: right;
    border: 3px solid rgb(24, 202, 0);
}
.heading h2{
    display: inline;
}

.bigimage{
    width: 100%;
}

#playgame,#status{
    font-size: 25px;
}

canvas{
    border: 4px solid deepskyblue;
    box-shadow: 5px 5px 20px blue;
}